timm==0.9.8
objprint==0.2.3
accelerate==0.18.0
torch==2.2.0
histolab==0.5.1
albumentations
tensorboard
easydict
monai
einops
tqdm
nibabel
pyyaml
openslide-bin
openslide-python
opencv-python
openpyxl
pandas
pycox
lifelines
scikit-survival
scikit-learn
scanpy