timm==0.9.8
objprint==0.2.3
accelerate==0.18.0
torch==2.2.0
albumentations
tensorboard
easydict
monai
tqdm
nibabel
pyyaml
openslide-python
opencv-python
openpyxl
pandas
histolab
pycox
lifelines
scikit-survival
scikit-learn
scanpy